/* style.css */
body {
    background: #52ccf9;
}

.container {
    margin: 100px auto;
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.roadGif {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}

.car {
    width: 40px;
    height: 80px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.obstacle {
    width: 30px;
    height: 30px;
    background-color: red;
    position: absolute;
    top: -30px;
}
